<footer role="contentinfo" class="footer">
  <p><small>© {{date format="YYYY"}}. Parker Ituk. All Rights Reserved.</small></p>
  <p><small>Theme provided by <a href="http://twitter.com/oswaldoacauan" target="_blank">@oswaldoacauan</a></small></p>
  <p><small>Proudly published with <a href="http://ghost.org" target="_blank">Ghost</a></small></p>
</footer>
